@import '../../styles/globals.css';

.add-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-sm) var(--spacing-lg);
    font-size: var(--font-size-md);
    font-weight: 500;
    cursor: pointer;
    margin: var(--spacing-md) 0;
    display: block;
    width: 100%;
    max-width: 12.5rem;
    transition: background-color 0.2s;
}

.add-button:hover {
    background-color: var(--color-primary-dark);
}

.add-button--cancel {
    background-color: var(--color-gray-500);
}

.add-button--cancel:hover {
    background-color: var(--color-gray-600);
}
