@import '../../styles/globals.css';

.header {
    font-size: var(--font-size-xxl);
    color: var(--color-gray-900);
    margin: var(--spacing-lg) 0;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 576px) {
    .header {
        font-size: var(--font-size-xl);
        margin: var(--spacing-md) 0;
    }
}
