.items-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
    padding: 0;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.items-list__item {
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}
