@import './styles/globals.css';

.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: var(--spacing-md);
}

@media (min-width: 48rem) {
    .container {
        padding: var(--spacing-lg);
    }
}
